@import 'mixins.styl';

$dark-background        = $theme-dark-grey
$light-background       = $theme-light-grey
$primary                = $theme-dark-grey
$secondary              = $theme-light-grey
$tertiary               = rgba(0,0,0,.5)
$quaternary             = $cta-color

body.light
  background $light-background
  .keypad
    background $dark-background
  header
    .theme-switcher
      background $light-background
      color $dblue
      a
        color $dblue
        &:hover
          color $green
  .wrapper
    background $dark-background
  .settings
    background $dark-background
    &.close
      background $dark-background
  aside
    left 20px
    padding 20px 0
    top 2px
    width 300px
  menu a
    background $secondary
    border-bottom none
    border-radius 0
    color $tertiary
    margin 0
    &:last-child
      border-bottom none
    &:hover
      background $quaternary
      color $secondary
    &.active
      background $secondary
      color $quaternary
      border-bottom none
  key
    keyshadow()
    border 2px solid rgba($secondary, 0.35)
    &:hover
      lightkeyshadowhover()
    &:active,
    &.active,
    &.caps.activated
      top 3px
      lightkeyshadowactive()
    &.double
      keyshadow()
      span
        keyshadow()
        opacity
      &.uppercase
        color rgba($primary, 1)
        span
          color rgba(242,242,242, 1)
  .keypad key.enter
    &:active,
    &.active,
    &.caps.activated
      top -66px
  .keypad key.period
    &:active,
    &.active,
    &.caps.activated
      top -78px
  .keypad key.zero
    &:active,
    &.active,
    &.caps.activated
      top -78px
  row.four key.single:active,
  row.five key.single:active,
  row.four key.single.active,
  row.five key.single.active
    top -8px !important
  .copyright p
    background $secondary
    color $dblue
  .copyright a
    color $dblue
    font-size 13px
    font-weight 900
    text-transform uppercase
    text-decoration none
    &:hover
      text-decoration underline
  #keyboard.unicode row.one key,
  #keyboard.unicode row.six key,
  #keyboard.unicode key.shft,
  #keyboard.unicode .caps,
  #keyboard.unicode.capslock .tab,
  #keyboard.unicode.capslock .return,
  #keyboard.unicode.capslock .delete,
  #keyboard.encoded key.f1,
  #keyboard.encoded key.f2,
  #keyboard.encoded key.f3,
  #keyboard.encoded key.f4,
  #keyboard.encoded key.f5,
  #keyboard.encoded key.f6,
  #keyboard.encoded key.f7,
  #keyboard.encoded key.f8,
  #keyboard.encoded key.f9,
  #keyboard.encoded key.f10,
  #keyboard.encoded key.f11,
  #keyboard.encoded key.f12,
  #keyboard.encoded key.f13,
  #keyboard.encoded .caps,
  #keyboard.encoded .shft,
  #keyboard.encoded .ctrl,
  #keyboard.encoded .opt,
  #keyboard.encoded .cmd
    lightkeyshadowactive()
    pointer-events none
  #keyboard.unicode row.six key.space
    top 16px
  #codebox
    background rgba(255, 255, 255, 0.75)
    -webkit-box-shadow 0 0 9px rgba(0, 0, 0, 0.2)
    .code-inner.dark
      background none
      p
        color $primary
        span
          color $quaternary
    .code-inner
      background none
  input[type=text]
    color $quaternary
  footer p.best
    color rgba(0,0,0,.25)
    font-weight 900