@import 'mixins.styl';

$dark-background        = $theme-dark-grey
$light-background       = $theme-light-grey
$primary                = $theme-dark-grey
$secondary              = $theme-light-grey
$tertiary               = rgba(0,0,0,.5)
$cta                    = $cta-color

body.light
  background $light-background
  header
    .theme-switcher
      background $light-background
      color $dblue
      a
        color $dblue
        &hover
          color $green
  .wrapper
    background $dark-background
  .settings
    background $dark-background
    &.close
      background $dark-background
  aside
    width 145px
    padding 20px 0
    background $light-background
  menu a
    background $secondary
    border-bottom 1px solid $primary
    border-radius 0
    color $primary
    margin 0
    &:last-child
      border-bottom none
    &:hover
      background $secondary
      color $cta
    &.active
      background $primary
      color $tertiary
      border-bottom none
  key
    keyshadow()
    border 2px solid rgba($secondary, 0.35)
    &:hover
      lightkeyshadowhover()
    &:active,
    &.active,
    &.caps.activated
      top 3px
      lightkeyshadowactive()
    &.double
      keyshadow()
      span
        keyshadow()
        opacity
      &.uppercase
        color rgba($primary, 1)
        span
          color rgba($primary, .5)
  row.four key.single:active,
  row.five key.single:active,
  row.four key.single.active,
  row.five key.single.active
    top -8px !important
  .copyright p
    background $secondary
    color $primary
  .copyright a
    color $cta
    font-size 13px
    text-transform uppercase
    text-decoration none
    &:hover
      text-decoration underline
  #keyboard.unicode row.one key,
  #keyboard.unicode row.six key,
  #keyboard.unicode key.shft,
  #keyboard.unicode .caps,
  #keyboard.unicode.capslock .tab,
  #keyboard.unicode.capslock .return,
  #keyboard.unicode.capslock .delete,
  #keyboard.encoded key.f1,
  #keyboard.encoded key.f2,
  #keyboard.encoded key.f3,
  #keyboard.encoded key.f4,
  #keyboard.encoded key.f5,
  #keyboard.encoded key.f6,
  #keyboard.encoded key.f7,
  #keyboard.encoded key.f8,
  #keyboard.encoded key.f9,
  #keyboard.encoded key.f10,
  #keyboard.encoded key.f11,
  #keyboard.encoded key.f12,
  #keyboard.encoded key.f13,
  #keyboard.encoded .caps,
  #keyboard.encoded .shft,
  #keyboard.encoded .ctrl,
  #keyboard.encoded .opt,
  #keyboard.encoded .cmd
    lightkeyshadowactive()
    pointer-events none
  #keyboard.unicode row.six key.space
    top 16px
  #codebox
    background rgba(255, 255, 255, 0.75)
    -webkit-box-shadow 0 0 9px rgba(0, 0, 0, 0.2)
    .code-inner.dark
      background none
      p
        color $primary
        span
          color $cta
    .code-inner
      background none
  input[type=text]
    color $cta