@import "mixins.styl"

.theme-switcher
  background rgba($dpurplish, 1)
  border-radius 0 0 0 3px
  color $green
  cursor pointer
  font-size 13px
  font-weight 900
  margin 0
  padding 3px 9px 5px
  position fixed
  right 20px
  text-align right
  text-transform uppercase
  top 20px
  width auto
  z-index 1
  
  &:after
    content $dropdown-arrow
    display inline-block
    font 16px $icons
    margin 0 0 0 10px
    position relative
    top 3px
    transition color 150ms
    
  &:hover:after
    color white
    transition color 150ms
  
  a
    color $green
    text-decoration none
    padding 0 5px
    
    &:hover
      color $yellow
      
menu.theme
  background rgba($dpurplish, 1)
  border-radius 3px
  box-shadow 0 11px 55px -15px rgba(0,0,0,0.75)
  display inline-block
  height auto
  opacity 0
  padding 10px
  position absolute
  right 10px
  top 30px
  visibility hidden
  width 100px
  z-index 2
  transition opacity 150ms, visibility 150ms 0ms
  
  &.open
    opacity 1
    visibility visible
    transition opacity 150ms, visibility 0ms
  
  a
    border-radius 2px
    color $green
    display block
    font-size 12px
    font-weight 900
    padding 7px 10px
    text-align left
    text-decoration none
    text-transform uppercase
    
    &:hover
      background $green
      color #FFF
      transition all 150ms
    
    &.active
      background $green
      color #FFF