/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* @group Base */

@import "compass";
@import "mixins.scss";
@import "reset.css";
@import "../fonts/style.css";
@import "animate.min.css";

html,
button,
input,
select,
textarea {

}

body {
    margin: 0;
    /*background: #F3F3F3;*/
    -webkit-font-smoothing: antialiased;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #000;
    color: #FFF;
    text-shadow: none;
}

::selection {
    color: #FFF;
    background: #000;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
    max-width: 100%;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Remove the dotted link in Firefox
   ========================================================================== */

a:active,
a.active {
  outline: 0;
  -moz-outline-style: none;
}

:focus,
a.active {
  -moz-outline-style: none;
  outline: 0;
}

a,
a.active {
  -moz-outline-style: none;
  outline: 0;
}

/* ==========================================================================
   Remove the dotted link in Firefox
   ========================================================================== */

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* @group Global */

header {

}

footer {

}

/* @end */

/* @group Home */

html {
    /*background: #4099FF;
    background: -webkit-linear-gradient(25deg, #3B5998, #4099FF);
    background: -moz-linear-gradient(25deg, #3B5998, #4099FF);
    background: -o-linear-gradient(25deg, #3B5998, #4099FF);
    background: linear-gradient(25deg, #3B5998, #4099FF);*/
    background: rgba($dblue, 1);
    height: 100%;
    width: 100%;
    height: 100%;
}

body {
    /*background: #4099FF;
    background: -webkit-linear-gradient(25deg, #3B5998, #4099FF);
    background: -moz-linear-gradient(25deg, #3B5998, #4099FF);
    background: -o-linear-gradient(25deg, #3B5998, #4099FF);
    background: linear-gradient(25deg, #3B5998, #4099FF);*/
    background: $dpurplish;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: $omnes;
    font-weight: 100;
}

.wrap {

}

.clearfix {
    clear: both;
}

header, footer {
    width: 100%;
    text-align: center;
    margin: 0;
}

header {
    padding: 30px 0 0;
}

header h1, header h2 {
    color: $dblue;
}

header h1 {
    font-size: 26px;
    margin-bottom: 5px;
}

header h2 {
    font-size: 16px;
    margin-top: 0;
}

footer {
    position: fixed;
    bottom: 80px;
    width: 100%;
}

.copyright p {
    margin: 0;
    text-align: center;
}

.wrapper {
    background: rgba($purplish,1);
    position: fixed;
    top: 20px;
    right: 20px;
    left: 20px;
    bottom: 20px;
    border-radius: 3px;
    opacity: 0;
    @include twosecs;
}

.wrapper.active {
    left: 145px;
    border-radius: 0 3px 3px 0;
    @include twosecs;
}

aside {
    padding: 20px;
    width: 105px;
    position: fixed;
    min-height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    background: rgba($dpurplish,1);
    /*box-sizing: border-box;
    -moz-box-sizing: border-box;*/
    @include twosecs;
}

aside.inactive {
    left: -145px;
    @include twosecs;
}

.settings {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    left: 20px;
    top: -10px;
    z-index: 4;
    background: rgba($dpurplish, 1);
    border-radius: 0 0 3px 0;
    cursor: pointer;
}

.settings.close {
    border-radius: 3px;
    background: $purplish;
}

.settings.close:hover {
    background: $dpurplish;
}

.settings span {
    display: block;
    text-indent: -9999em;
    height: 0;
}

.settings:before {
    color: $green;
    font: 39px $icons;
    position: relative;
    top: 3px;
    content: $settings;
}

.settings.close:before {
    color: rgba(197,30,50, 1);
    content: $settings-close;
}

h1#logo {
    background: url(../images/logo.svg) no-repeat;
    text-indent: -9999em;
    position: relative;
    display: block;
    text-align: center;
    width: 184px;
    margin: 26px auto 0;
    cursor: pointer;
}

h1#logo.blue {
    z-index: 5;
    background: url(../images/blue-logo.svg) no-repeat;
}

h1#logo.green {
    z-index: 5;
    background: url(../images/green-logo.svg) no-repeat;
}

h1#logo.gray {
    z-index: 5;
    background: url(../images/gray-logo.svg) no-repeat;
}

aside.inactive menu {
    position: relative;
    margin: 70px 0 0 0;
    left: -380px;
    @include twosecs;
}

aside menu {
    position: relative;
    margin: 70px 0 0 0;
    left: 0;
    @include twosecs;
}

menu a {
    /*width: 86px;*/
    width: 100%;
    margin: 0 0 8px 0;
    border-radius: 3px;
    background: rgba($green,.20);
    padding: 7px 0 7px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 12px;
    letter-spacing: -1px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    /*@include btn;*/
}

@-moz-document url-prefix() {
    menu a {
        letter-spacing: 0;
    }
}

menu a:hover {
    background: rgba($green, 1);
    @include btn;
    @include btnhover;
}

menu a:active {
    @include btnactive;
    cursor: auto;
    color: rgba(255,255,255,.16);
    background: rgba(0,0,0,.08);
}

menu a.active {
    color: rgba(255,255,255,1);
    background: rgba($green, 1);
    cursor: auto;
}

#keyboard {
    margin: -193px 0 0 -517px;
    width: 1034px;
    height: 386px;
    position: absolute;
    top: 42%;
    left: 50%;
    opacity: 0;
    pointer-events: none;
    @include twosecs;
}

#keyboard.showing {
    opacity: .28;
}

#keyboard.unicode,
#keyboard.charcode,
#keyboard.entities,
#keyboard.encoded,
#keyboard.ascii {
    opacity: 1;
    pointer-events: auto;
}

row {
    display: block;
    margin: 0 auto;
    list-style: none;
    margin-bottom: 6px;
    position: relative;
}

key {
    border-radius: 3px;
    border: 2px solid rgba($green,.35);
    background: transparent;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 19px;
    line-height: 26px;
    text-align: center;
    margin: 0 2px;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    display: inline-block;
    color: $yellow;
    /*@include key;*/
    /*@include keyshadow;*/
}

key.double {
    color: rgba(255, 255, 255, 0.25);
}

key.double:hover {
    color: rgba(255,255,255, .25);
}

key.double.uppercase {
    color: $yellow;
}

key.double.uppercase:hover {
    color: #fff;
}

key.double.uppercase:active,
key.double.uppercase.active {
    color: rgba(255,255,255,.25);
}

key.double.uppercase:hover span {
    color: rgba(255,255,255,.25);
}

key.double.uppercase span {
    color: rgba(255, 255, 255, 0.25);
}

key.double span {
    color: $yellow;
}

key.double:hover span {
    color: #fff;
}

key.double.active span,
key.double:active span {
    color: rgba(255,255,255,.25);
}

key.deactivated {
    top: 4px;
    @include keyshadowactive;
    pointer-events: none;
}

key:hover {
    border: 2px solid rgba($green, 1);
    color: rgba(255,255,255,1);
    /*@include keyshadowhover;*/
}

key.single,
key.tab, {
    text-transform: lowercase;
}

key:active,
key.active {
    top: 3px;
    @include keyshadowactive;
}

key.uppercase {
    text-transform: uppercase;
}

key.tab,
key.shft,
key.caps,
key.delete,
key.return,
key.ctrl,
key.opt,
key.cmd {
    font-size: 15px;
    padding: .5em 0;
}

row.one key {
    padding: .2em 0;
    width: 63px;
    font-size: 14px;
}

key.double {
    padding: .175em 0;
}

row.two .delete {
    padding: 31px 14px 0;
    height: 27px;
}

row.three .tab,
row.six .ctrl,
row.six .cmd {
    padding: 28px 14px 0 14px;
    height: 30px;
}

row.six .opt.left {
    padding: 28px 0px 0 12px;
    height: 30px;
}

row.six .opt.right {
    padding: 28px 12px 0 0px;
    height: 30px;
}

row.six .space {
    padding: 28px 6px 0 6px;
    height: 30px;
    top: 14px;
    width: 445px;
}

row.six .space.active {
    top: 18px;
}

row.three .lbrack,
row.three .rbrack,
row.three .bs,
row.four .col,
row.five .comm,
row.five .great,
row.five .quest {
    padding: 0 0 8px 0;
    height: 50px;
}

row.three key.single,
row.four key.single,
row.five key.single {
    height: 43px;
    padding: 15px 0 0 0;
    top: -11px;
}

row.three key.single:active,
row.three key.single.active {
    top: -7px;
}

row.one key.single.esc {
    font-size: 16px;
}

row.two key,
row.three key,
row.four key,
row.five key,
row.six key {
    width: 61px;
    height: 55px;
    padding: 3px 0 0 0;
}

row.three {
    top: 1px;
}

row.four {
    top: -15px;
}

row.five {
    top: -25px;
}

row.six {
    top: -49px;
}

row.four key.caps,
row.four key.return {
    width: 83px;
    padding: 28px 14px 0 14px;
    height: 30px;
    text-transform: lowercase;
}

row.five key.shft {
    width: 119px;
    padding: 28px 14px 0 14px;
    height: 30px;
    text-transform: lowercase;
}

key span {
    display: block;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

row.four key.apos {
    line-height: 22px;
    padding-top: 12px;
    height: 46px;
    top: 6px;
}

row.four key.single:active,
row.five key.single:active {
    top: -8px;
}

row.four key.apos:active {
    top: 9px;
}

.cap {
    position: absolute;
    top: 16px;
    left: 11px;
    text-indent: -9999em;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid rgba($green,.45);
    cursor: pointer;
    @include onesec;
}

.cap:hover,
.cap.capsOn {
    background: $green;
    @include onesec;
}

.cap.capsOn {
    top: 18px;
}

.caps.activated {
    top: 2px;
    pointer-events: none;
    @include keyshadowactive;
}

.caps.activated span {
    pointer-events: auto;
}

#codebox {
    font-family: $brandon;
    font-weight: 300;
    line-height:0;
    width: 560px;
    height: 390px;
    vertical-align: baseline;
    position: fixed;
    outline: none;
    top: 41%;
    left: 50%;
    margin-left: -280px;
    margin-top: -204px;
    border: none;
    border-radius: 7px;
    background: rgba($gray,.0);
    text-align: center;
    pointer-events: none;
    z-index: 5;
    opacity: 0;
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    -ms-transform: scale(1.25);
    @include twosecs;

    &.active {
        width: 560px;
        height: 390px;
        line-height:0;
        background: rgba($dblue,.05);
        top: 44%;
        left: 50%;
        margin-left: -280px;
        margin-top: -204px;
        -webkit-box-shadow: 0 0 0px 2px rgba($green,1);
        box-shadow: 0 0 0px 2px rgba($green,1);
        z-index: 5;
        opacity: 1;
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
        -ms-transform: scale(1.25);
        @include onesec;
    }
}

#codebox .code-inner {
    background: rgba(0,0,0,.45);
    font-size: 1200%;
    margin: 0;
    border-radius: 5px;
    position: relative;
    display: block;
    padding: 55px 0;
}

input[type=text] {
    font-family: $brandon;
    font-weight: 300;
    opacity: 0;
    letter-spacing: -12px;
    width: 100%;
    height: auto;
    text-align: center;
    background: none;
    outline: none;
    border: none;
    line-height: 0;
    padding: 0;
    position: relative;
    color: rgba(255,255,255,1);
    top: 0;
    pointer-events: none;
}

#codebox.active input[type=text] {
    opacity: 1;
    pointer-events: none;
}

#codebox.unicode .code-inner {
    font-size: 740%;
}

#codebox.unicode .code-inner {
    padding: 109px 0;
}

#codebox .code-inner.dark {
    background: rgba(0,0,0,.75);
}

#codebox .code-inner.dark {
    font-size: 28px;
}

#codebox.unicode .code-inner.dark {
    padding: 45px 0;
}

#codebox .code-inner.dark p {
    color: #fff;
    line-height: 38px;
    padding: 26px 48px;
    margin: 0;
}

#codebox .code-inner p span {
    color: $yellow;
}

.copyright p {
    background: rgba($dpurplish, 1);
    border-radius: 3px 0 0 0;
    padding: 3px 9px 5px;
    font-weight: 500;
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: $green;
}

.copyright p a {
    color: $green;
    text-decoration: none;
}

.copyright p a:hover {
    color: $yellow;
}

.twitter-share {
    position: fixed;
    bottom: 25px;
    left: 29px;
    z-index: 1;
}

/* ==========================================================================
   DEACTIVATED KEYS BY CODE TYPE
   ========================================================================== */

#keyboard.unicode row.one key,
#keyboard.unicode row.six key,
#keyboard.unicode key.shft,
#keyboard.unicode .caps,
#keyboard.unicode.capslock .tab,
#keyboard.unicode.capslock .return,
#keyboard.unicode.capslock .delete,
#keyboard.encoded key.f1,
#keyboard.encoded key.f2,
#keyboard.encoded key.f3,
#keyboard.encoded key.f4,
#keyboard.encoded key.f5,
#keyboard.encoded key.f6,
#keyboard.encoded key.f7,
#keyboard.encoded key.f8,
#keyboard.encoded key.f9,
#keyboard.encoded key.f10,
#keyboard.encoded key.f11,
#keyboard.encoded key.f12,
#keyboard.encoded key.f13,
#keyboard.encoded .caps,
#keyboard.encoded .shft,
#keyboard.encoded .ctrl,
#keyboard.encoded .opt,
#keyboard.encoded .cmd {
    top: 2px;
    @include keyshadowactive;
    pointer-events: none;
}

#keyboard.encoded row.six key.space {
    top: 16px;
    @include keyshadowactive;
    pointer-events: none;
}

#keyboard.unicode row.six key.space,
 {
    top: 16px;
}

/* ==========================================================================
   LMTH classes
   ========================================================================== */

#codebox.lmth {
    font-size: 720%;
}

#codebox.lmth .code-inner {
    padding: 50px 0 63px 0;
}

#codebox.lmth input[type=text] {
    letter-spacing: -5px
}

/* ==========================================================================
   LARGE MONITOR classes
   ========================================================================== */

@media screen and (min-width: 2560px) {

#keyboard {
    width: 2319px;
    height: 386px;
    position: absolute;
    top: 34%;
    left: 555px;
}

row {
    margin-bottom: 30px;
}

key {
    font-size: 39px;
}

row.two key, row.three key, row.four key, row.five key {
    width: 152px;
}

row.three key.single, row.four key.single, row.five key.single {
    height: 99px;
    padding: 57px 0 0 0;
}

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* @end */

/* @group Main Nav */

/* @end */

/* @end */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
