
@mixin keyshadow {
	background: rgba(255,255,255,.75);
	-webkit-box-shadow: 0 3px 0 0  rgba(0,0,0,.10);
    -moz-box-shadow: 0 3px 0 0  rgba(0,0,0,.10);
    box-shadow: 0 3px 0 0  rgba(0,0,0,.10);
    color: rgba(0,0,0,.3);
	/*@include filter-gradient(#1fffff, #00ffff, vertical); // IE6-9
	@include background-image(linear-gradient(top,  rgba(255,255,255,0.12) 0%,rgba(255,255,255,0) 30%,rgba(255,255,255,0) 100%));	*/
}

@mixin keyshadowhover {
	background: rgba(255,255,255,.05);
	-webkit-box-shadow: 0 3px 0 0  rgba(0,0,0,.10);
    -moz-box-shadow: 0 3px 0 0  rgba(0,0,0,.10);
    box-shadow: 0 3px 0 0  rgba(0,0,0,.10);
    color: rgba(255,255,255,.75);
	/*@include filter-gradient(#1fffff, #00ffff, vertical); // IE6-9
	@include background-image(linear-gradient(top,  rgba(255,255,255,0.12) 0%,rgba(255,255,255,0) 30%,rgba(255,255,255,0) 100%));	*/
}

@mixin keyshadowactive {
	color: rgba(0,0,0,.25);
	background: rgba(255,255,255,.75);
	border: 2px solid rgba(110,110,110,.25);
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

@mixin twosecs {
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
}

$omnes: omnes-pro;
$brandon: brandon-grotesque;
$green: rgb(22,160,133);
$white: rgb(255,255,255);
$dblue: rgba(3,49,65,.6);
$gray: rgba(118,118,118,.1);

