display(id="codebox")
  div(class="code-inner dark")
    p I have grown tired of searching online through lists of character codes, so I built Keycodes to help me out. Feel free to use it, that's why it's here. Check back periodically or follow me on Twitter (
      span @jayjo) for updates and other cool stuff.
  div(class="code-inner")
    input(type="text", value="", name="codebox", disabled)
    div(class="success") Copied!