footer
  p(class="best") Looking for design inspiration? Check out 
    a(href="http://bestpages.co", target="_blank") BestPages
  div(class="copyright")
    p
      a(href="http://twitter.com/jayjo", target="_blank") @jayjo | 
      a(href="https://github.com/jayjo/keymap", target="_blank") github

<script type="text/javascript" src="//use.typekit.net/ffl8wgu.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<script src="assets/js/plugins.min.js"></script>
<script src="assets/js/clipboard.js"></script>
<script src="assets/js/global.js"></script>