header
  a(class="settings")
    span Settings
  p(class="theme-switcher")
    a(href="#", class="light") Light
    span |
    a(href="#", class="dark") Dark

aside
  menu
    a(href="#charcode", id="charcode") Keycode
    a(href="#unicode", id="unicode") Unicode
    a(href="#encoded", id="encoded") URL Encoded

  div(class="twitter-share")
    a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://keycodes.atjayjo.com", data-text="Tired of hunting through lists of character codes - checkout Keycodes", data-via="jayjo") Tweet
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

section(class="wrap")