row(class="keypad")
  key(class="single clear", data-key="12") clear
  key(class="single equals", data-key="187") =
  key(class="single forslash", data-key="111") /
  key(class="single asterisk", data-key="106") *
  key(class="single seven", data-key="55") 7
  key(class="single eight", data-key="56") 8
  key(class="single nine", data-key="57") 9
  key(class="single hyphen", data-key="109") -
  key(class="single four", data-key="52") 4
  key(class="single five", data-key="53") 5
  key(class="single six", data-key="54") 6
  key(class="single plus", data-key="107") +
  key(class="single one", data-key="49") 1
  key(class="single two", data-key="50") 2
  key(class="single three", data-key="51") 3
  key(class="single zero", data-key="48") 0
  key(class="single period", data-key="110") .
  key(class="single enter", data-key="13") enter
  button
    span.expand +
    span.minimize.inactive -
  div(class="clearfix")