meta(name="description", content="Your guide to keyboard codes, unicodes, keycodes, javascript character codes, charcodes - by @JayJo")
meta(name="keywords", content="javascript, keycodes, character codes, characters, unicode, js, jquery, programming, development")
meta(charset="utf-8")