row(class="one")
  key(class="single esc", data-key="27", data-encode="%1B", data-encodecaps="%1B") esc
  key(class="single f1", data-key="112") F1
  key(class="single f2", data-key="113") f2
  key(class="single f3", data-key="114") f3
  key(class="single f4", data-key="115") f4
  key(class="single f5", data-key="116") f5
  key(class="single f6", data-key="117") f6
  key(class="single f7", data-key="118") f7
  key(class="single f8", data-key="119") f8
  key(class="single f9", data-key="120") f9
  key(class="single f10", data-key="121") f10
  key(class="single f11", data-key="122") f11
  key(class="single f12", data-key="123") f12
  key(class="single f13", data-key="124") F13
  div(class="clearfix")