row(class="five")
  key(class="shft left", data-key="16") Shift
  key(class="single z", data-key="90", data-encode="%7A", data-encodecaps="%5A", data-uni="U+007A", data-unicaps="U+005A") z
  key(class="single x", data-key="88", data-encode="%78", data-encodecaps="%58", data-uni="U+0078", data-unicaps="U+0058") x
  key(class="single c", data-key="67", data-encode="%63", data-encodecaps="%43", data-uni="U+0063", data-unicaps="U+0043") c
  key(class="single v", data-key="86", data-encode="%76", data-encodecaps="%56", data-uni="U+0076", data-unicaps="U+0056") v
  key(class="single b", data-key="66", data-encode="%62", data-encodecaps="%42", data-uni="U+0062", data-unicaps="U+0042") b
  key(class="single n", data-key="78", data-encode="%6E", data-encodecaps="%4E", data-uni="U+006E", data-unicaps="U+004E") n
  key(class="single m", data-key="77", data-encode="%6D", data-encodecaps="%4D", data-uni="U+006D", data-unicaps="U+004D") m
  key(class="double comm", data-key="188", data-encode="%2C", data-encodecaps="%3C", data-uni="U+002C", data-unicaps="U+003C") <
    span ,
  key(class="double great", data-key="190", data-encode="%2E", data-encodecaps="%3E", data-uni="U+002E", data-unicaps="U+003E") >
    span .
  key(class="double quest", data-key="191", data-encode="%2F", data-encodecaps="%3F", data-uni="U+002F", data-unicaps="U+003F") ?
    span /
  key(class="shft right", data-key="16") Shift
  div(class="clearfix")