row(class="6")
  key(class="single ctrl left", data-key="17") control
  key(class="single opt left", data-key="18") option
  key(class="single cmd left", data-key="91") command
  key(class="single space left", data-key="32", data-encode="%20", data-encodecaps="%20")
  key(class="single cmd right", data-key="91") command
  key(class="single opt right", data-key="18") option
  key(class="single ctrl right", data-key="17") control
  div(class="clearfix")